{{{Navbar}}}

<div class="register__wrapper">
    <form id="register" name="register" novalidate autocomplete="off">
        <div class="register__container">
            <h1 class="register__caption">Регистрация</h1>
            <p class="register__text">Пожалуйста, заполните эту форму,</br>чтобы зарегистрироваться.</p>

            <div class="register__input__wrapper">
                <input class="register__input__input" type="text" placeholder=" " id="login" name="login" autofocus pattern="^[a-zA-Z\d]{3,20}$" value="{{userRegisterData.login}}" required>
                <label class="register__input__caption">Логин</label>
                <span class="register__input__bar"></span>

                {{#if validation.userRegisterData.login}}
                <div class="register__input__error" id="login-validation-box">
                    <i class="fa fa-times-circle register__input__error__fa"></i>
                    <label class="register__input__error-label" id="login-validation-message">{{validation.userRegisterData.login}}</label>
                </div>
                {{/if}}
            </div>

            <div class="register__input__wrapper">
                <input class="register__input__input" type="email" placeholder=" " id="email" name="email" pattern="^.*[@]+.*$" value="{{userRegisterData.email}}" required>
                <label class="register__input__caption">Почта</label>
                <span class="register__input__bar"></span>

                {{#if validation.userRegisterData.email}}
                <div class="register__input__error">
                    <i class="fa fa-times-circle register__input__error__fa"></i>
                    <label class="register__input__error-label">{{validation.userRegisterData.email}}</label>
                </div>
                {{/if}}
            </div>

            <div class="register__input__wrapper">
                <input class="register__input__input" type="password" placeholder=" " id="password" name="password" pattern="^[a-zA-Z]+[a-zA-Z\d@_$]{6,25}$" value="{{userRegisterData.password}}" required>
                <label class="register__input__caption">Пароль</label>
                <span class="register__input__bar"></span>

                {{#if validation.userRegisterData.password}}
                <div class="register__input__error">
                    <i class="fa fa-times-circle register__input__error__fa"></i>
                    <label class="register__input__error-label">{{validation.userRegisterData.password}}</label>
                </div>
                {{/if}}
            </div>

            <div class="register__input__wrapper">
                <input class="register__input__input" type="password" placeholder=" " id="passwordRepeat" name="passwordRepeat" pattern="^[a-zA-Z]+[a-zA-Z\d@_$]{6,25}$" value="{{userRegisterData.passwordRepeat}}" required>
                <label class="register__input__caption">Подтверждение пароля</label>
                <span class="register__input__bar"></span>

                {{#if validation.userRegisterData.passwordRepeat}}
                <div class="register__input__error">
                    <i class="fa fa-times-circle register__input__error__fa"></i>
                    <label class="register__input__error-label">{{validation.userRegisterData.passwordRepeat}}</label>
                </div>
                {{/if}}
            </div>

            <p class="register__text">Создавая учетную запись, вы соглашаетесь с нашими </br><a class="register__link" href="#">Условиями пользования и </br>Политикой конфиденциальности</a>.</p>

            <button type="submit" class="button" id="register-button">Зарегистрироваться</button>

            <div class="register__login-message">
                <p class="register__text">Уже есть аккаунт? <a class="register__link" href="/login">Войти в систему</a></p>
            </div>
        </div>
    </form>
</div>

{{{Footer}}}
