{{{Navbar}}}

<div class="view__wrapper">
    <form id="register" name="register" novalidate autocomplete="off" method="post">
        <div class="view__container">
            <h1 class="view__caption">Регистрация</h1>
            <p class="view__text">Пожалуйста, заполните эту форму,</br>чтобы зарегистрироваться.</p>

            <div class="view__input-wrapper">
                <input class="view__input-input" type="text" placeholder=" " id="login" name="login" autofocus pattern="^[a-zA-Z\d]{3,20}$" value="{{userRegisterData.login}}" required>
                <label class="view__input-caption">Логин</label>
                <span class="view__input-bar"></span>
            </div>
            {{#if validation.userRegisterData.login}}
                <div class="error error_margin" id="login-validation-box">{{validation.userRegisterData.login}}</div>
            {{/if}}

            <div class="view__input-wrapper">
                <input class="view__input-input" type="email" placeholder=" " id="email" name="email" pattern="^.*[@]+.*$" value="{{userRegisterData.email}}" required>
                <label class="view__input-caption">Почта</label>
                <span class="view__input-bar"></span>
            </div>
            {{#if validation.userRegisterData.email}}
                <div class="error error_margin">{{validation.userRegisterData.email}}</div>
            {{/if}}

            <div class="view__input-wrapper">
                <input class="view__input-input" type="password" placeholder=" " id="password" name="password" pattern="^[a-zA-Z]+[a-zA-Z\d@_$]{6,25}$" value="{{userRegisterData.password}}" required>
                <label class="view__input-caption">Пароль</label>
                <span class="view__input-bar"></span>
            </div>
            {{#if validation.userRegisterData.password}}
                <div class="error error_margin">{{validation.userRegisterData.password}}</div>
            {{/if}}

            <div class="view__input-wrapper">
                <input class="view__input-input" type="password" placeholder=" " id="passwordRepeat" name="passwordRepeat" pattern="^[a-zA-Z]+[a-zA-Z\d@_$]{6,25}$" value="{{userRegisterData.passwordRepeat}}" required>
                <label class="view__input-caption">Подтверждение пароля</label>
                <span class="view__input-bar"></span>
            </div>
            {{#if validation.userRegisterData.passwordRepeat}}
                <div class="error error_margin">{{validation.userRegisterData.passwordRepeat}}</div>
            {{/if}}

            {{!-- <p class="register__text">Создавая учетную запись, вы соглашаетесь с нашими </br><a class="register__link" href="#">Условиями пользования и </br>Политикой конфиденциальности</a>.</p> --}}
            {{#if errors}}
                <div class="error"> {{errors}}</div>
            {{/if}}
            <button type="submit" class="button" id="register-button">Зарегистрироваться</button>
        </div>
    </form>
    <div class="message">
        <p class="view__text">Уже есть аккаунт? <a class="message-link" href="/login">Войти в систему</a></p>
    </div>
</div>

{{{OfflineMessage}}}

{{{Footer}}}
