{{{Navbar}}}

<div class="board">
    <div class="board-header">
        <div class="board-header__name">{{title}}</div>
            <div class="vertical-line"></div>
                <div class="board-header__members">
                    {{#each members}}
                        <img class="avatar" src="{{this.avatar}}" title="{{this.userName}}"/>
                    {{/each}}
                    <div class="button button_small" id="addMember">Пригласить</div>
                </div>
            <div class="vertical-line"></div>
            <div class="button button_small" id="addCardList">Добавить колонку</div>
            <div class="vertical-line"></div>
            <div class="button button_small" id="updateBoardSettings">Настройки</div>
        </div>
        <div class="columns custom-scroll">
            {{#each _cardlists}}
                {{{this}}}
            {{/each}}
        </div>
</div>

<div id="popup">
<!--    рендерим подходящий popup, во view, также на основании контекста, навешиваем callback'и-->
    {{#if popups.cardlist}}
    {{ else if popups.board}}
    {{ else if popups.card}}
    {{/if}}
</div>

{{{Footer}}}
