{{{Navbar}}}

<div class="board">
    <div class="board-header">
        <div class="board-header__name">{{board_name}}</div>
        <div class="vertical-line"></div>
        <div class="board-header__members">
            {{#each members}}
                <img class="avatar" src="{{this.avatar}}" title="{{this.userName}}"/>
            {{/each}}
            <div class="button button_small" id="showAddBoardMemberPopUpId">Пригласить</div>
        </div>
        <div class="vertical-line"></div>
        <div class="button button_small" id="showCreateCardListPopUpId">Добавить колонку</div>
        <div class="vertical-line"></div>
        <div class="button button_small" id="showBoardSettingPopUpId">Настройки</div>
        <div class="vertical-line"></div>
        <div class="button button_small" id="showTagsBoardPopUpId">Теги</div>
    </div>
    <div class="{{#if _cardlists}}columns custom-scroll cardListDropZone{{else}}columns__centered-text{{/if}} ">
        {{#if _cardlists }}{{else}}
        <div class="spaced-text">Доски пока пустая. Начните с <a class="underline-link" id="showCreateCardListPopUpLinkId">создания</a> колонок задач.
        </div>
        {{/if}}
        {{#each _cardlists}}
            {{{this}}}
        {{/each}}
    </div>
</div>

{{{BoardSettingPopUp}}}
{{{CardListPopUp}}}
{{{CardPopUp}}}
{{{DeleteCardListPopUp}}}
{{{DeleteCardPopUp}}}
{{{AddBoardMemberPopUp}}}
{{{AddCardMemberPopUp}}}
{{{TagsListPopUp}}}
{{{TagPopUp}}}

{{{OfflineMessage}}}

{{{Footer}}}
