{{{Navbar}}}

<div class="main-container">
    <div class="teams-container">
        <div class="boards-header">
            <div class="button button_small" id="createTeamBtnId">Создать команду</div>
        </div>
        {{#each teams}}
            <div class="team">
                <div class="team__header">
                    <div>
                        <span class="team__team-name">{{this.team_name}}</span>
                        {{#if (IsEqualHelper this.team_type 0)}}
                            <span class="material-icon-edit team-edit-btn" data-id="{{this.tid}}"></span>
                        {{/if}}
                    </div>
                    <div>
                        <!-- Обычная команда-->
                        {{#if (IsEqualHelper this.team_type 0)}}
                            <span class="team__member-counter">{{this.users.length}}</span>
                            <span class="material-icon-group_add invite-board" data-id="{{this.tid}}"></span>
                            <span class="material-icon-add add-board-btn" data-id="{{this.tid}}"></span>
                            <span class="material-icon-delete team-delete-btn" data-id="{{this.tid}}"></span>
                        <!-- Личное пространство-->
                        {{else if (IsEqualHelper this.team_type 2)}}
                            <span class="material-icon-add add-board-btn" data-id="{{this.tid}}"></span>
                        <!-- Остальные доски -->
                        {{else if (IsEqualHelper this.team_type 1)}}
                        {{/if}}
                    </div>
                </div>
                <div class="horizontal-line"></div>
                <div class="team__card-wrapper">
                    {{#if this.boards}}
                        <div class="team__card-holder">
                            {{#each this.boards}}
                                <a href="/board/{{this.bid}}" class="bord-card">
                                    <div class="bord-card__header">{{this.board_name}}</div>
                                    <div class="bord-card__description">{{this.description}}</div>
                                </a>
                            {{/each}}
                        </div>
                    {{else}}
                        <div class="spaced-text">Похоже досок пока нет.<br><a class="add-board-btn underline-link" data-id="{{this.tid}}">Создайте</a>
                            {{#if (IsEqualHelper this.team_type 2)}}
                                Ваш первый проект в личном пространстве.
                            {{else}}
                                первый проект команды "{{this.team_name}}"
                            {{/if}}
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>
</div>

{{{CreateBoardPopUp}}}
{{{AddTeamMemberPopUp}}}
{{{TeamPopUp}}}
{{{DeleteTeam}}}

{{{OfflineMessage}}}

{{{Footer}}}
