{{{Navbar}}}

<div class="main-container">
    <div class="teams-container">
        <div class="boards-header">
            <div>Ваши команды</div>
            <div class="button button_small">Создать команду</div>
        </div>
        {{#each teams}}
            <div class="team">

                <div class="team__header">
                    <div>
                        <span class="team__team-name">{{this.team_name}}</span>
                        <span class="material-icons material-icons-colored material-icons-colored_disabled">edit</span>
                    </div>
                    <div>
                        <!-- Обычная команда-->
                        {{#if (IsEqualHelper this.team_type 3)}}
                            <span class="team__member-counter">{{this.users.length}}</span>
                            <span class="material-icons material-icons-colored invite-board" data-id="{{this.tid}}">group_add</span>
                            <span class="material-icons material-icons-colored add-board" data-id="{{this.tid}}">add</span>
                        <!-- Личное пространство-->
                        {{else if (IsEqualHelper this.team_type 2)}}
                            <span class="material-icons material-icons-colored add-board" data-id="{{this.tid}}">add</span>
                        <!-- Остальные доски -->
                        {{else if (IsEqualHelper this.team_type 1)}}
                        {{/if}}
                        <span class="material-icons material-icons-colored material-icons-colored_disabled">menu</span>
                    </div>
                </div>
                <div class="horizontal-line"></div>
                <div class="team__card-wrapper">
                    <div class="team__card-holder">
                        {{#each this.boards}}
                            <a href="/board/{{this.bid}}" class="bord-card">
                                <div class="bord-card__header">{{this.board_name}}</div>
                                <div class="bord-card__description">{{this.description}}</div>
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

{{{CreateBoardPopUp}}}
{{{AddTeamMemberPopUp}}}
{{{DeleteTeam}}}

{{{Footer}}}
