<div class="column">
    <div class="column__header">
        <div class="column__title">{{cardList_name}}</div>
        <span class="material-icon-add addCardToCardList" data-id="{{clid}}"></span>
        <span class="material-icon-edit editCardList" data-id="{{clid}}"></span>
        <span class="material-icon-delete deleteCardList" data-id="{{clid}}"></span>
    </div>
    <div class="horizontal-line"></div>
    <div class="column__content custom-scroll" data-id="{{clid}}">
        {{#each _cards}}
            {{{this}}}
        {{/each}}
    </div>
</div>
