<div class="column">
    <div class="column__header">
        <div class="column__title">{{cardList_name}}</div>
        <span class="column__add material-icons addCardToCardList" data-id="{{clid}}"></span>
        <span class="column__edit material-icons editCardList" data-id="{{clid}}"></span>
        <span class="column__delete material-icons deleteCardList" data-id="{{clid}}"></span>
    </div>
    <div class="horizontal-line"></div>
    <div class="column__content custom-scroll" data-id="{{clid}}">
        {{#each _cards}}
            {{{this}}}
        {{/each}}
    </div>
</div>
