<div class="card" id="card__{{cid}}">
    <div class="card__tags-container">
        {{#each tags}}
            <div class="card-tag"></div>
        {{/each}}
    </div>
    <div class="card__header">
        <span class="card__title">{{title}}</span>
        <span class="column__delete material-icons" id="deleteCard__{{cid}}"></span>
    </div>
    <div class="card__badges">
        {{#if deadline}}
        <div class="badge-due-date-wrapper">
            <div class="material-icons badge-due-date__icon"></div>
            <div class="badge-due-date__text">{{deadline}}</div>
        </div>
        {{/if}}
        {{#if description}}
            <div class="material-icons badge-description"></div>
        {{/if}}
        {{#if attachments}}
            <div class="material-icons badge-attachments"></div>
        {{/if}}
        {{#if checklist}}
            <div class="material-icons badge-checklist"></div>
        {{/if}}
        <div class="card__assignees">
            {{#each assignees}}
                <img class="avatar" src="{{this.avatar}}" title="{{this.userName}}"/>
            {{/each}}
        </div>
    </div>
</a>
