<div class="card editCard dragCard" data-id="{{cid}}" draggable="true">
    <div class="card__tags-container" data-id="{{cid}}">
        {{#each tags}}
            <div class="card-tag tag-colors__{{this.color.color_name}}" data-id="{{cid}}"></div>
        {{/each}}
    </div>
    <div class="card__header" data-id="{{cid}}">
        <span class="card__title" data-id="{{cid}}">{{card_name}}</span>
        <span class="material-icon-remove deleteCard" data-id="{{cid}}"></span>
    </div>
    <div class="card__badges" data-id="{{cid}}">
        {{#if (IsEmptyDeadlineHelper deadline)}}
            <div class="badge-due-date-wrapper badge-due-date__text-{{deadlineStatus}} checkDeadlineCard" data-id="{{cid}}">
                <div class="material-icons badge-due-date__icon" data-id="{{cid}}"></div>
                <div class="badge-due-date__text badge-due-date__text-{{deadlineStatus}}" data-id="{{cid}}">{{deadlineDate}}</div>
            </div>
        {{/if}}
        {{#if description}}
            <div class="material-icons badge-description" data-id="{{cid}}"></div>
        {{/if}}
        {{#if attachments}}
            <div class="material-icons badge-attachments" data-id="{{cid}}"></div>
        {{/if}}
        {{#if check_lists}}
            <div class="material-icons badge-checklist" data-id="{{cid}}"></div>
        {{/if}}
        <div class="card__assignees" data-id="{{cid}}">
            {{#each assignees}}
                <img class="avatar" src="{{this.avatar}}" title="{{this.userName}}" data-id="{{cid}}"/>
            {{/each}}
        </div>
    </div>
</div>
