<header id="header-main">
    <div class="navbar__wrapper">
        <div class="navbar">
            <div class="navbar__logo-wrapper">
                <a href="/" draggable="false">
                    <img alt="Brrrello" src="/assets/logo.webp" class="navbar__logo"
                         draggable="false"/>
                </a>
                <div class="navbar__hamburger-wrapper" id="hamburgerBtnId">
                    <div class="material-icon-hamburger"></div>
                </div>
            </div>
            {{# if navbar.linksVisible }}
                <div class="navbar__links">
                    {{#if isAuthorized}}
                        <a class="navbar__link-wrapper" href="/boards" ><div class="navbar__link">Доски</div></a>
                        <a href="/profile" class="avatar-wrapper">
                            {{#if navbar.isMobile }}
                                <span id="navbarUserNameId">{{userName}}</span>
                                <img id="navbarAvatarId" class="avatar-navbar-edition avatar-navbar-edition_margin_left"
                                     src="{{avatar}}"
                                     alt="{{userName}}">
                            {{else}}
                                <img id="navbarAvatarId" class="avatar-navbar-edition"
                                     src="{{avatar}}"
                                     alt="{{userName}}">
                                <span id="navbarUserNameId">{{userName}}</span>
                            {{/if}}
                        </a>

                        <a id="logout" class="navbar__link-wrapper"><div class="navbar__link">Выход</div></a>
                    {{else}}
                        <a class="navbar__link-wrapper" href="/login"><div class="navbar__link">Войти</div></a>
                        <a class="navbar__link-wrapper" href="/register"><div class="navbar__link">Зарегистрироваться</div></a>
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>
</header>
