<link rel="stylesheet" href="/src/views/LoginView/LoginView.css">

{{{Navbar}}}

<div class="login__wrapper">
    <form id="auth" name="auth" novalidate autocomplete="off">
        <div class="login__container">
            <h1 class="login__caption">Вход</h1>
            <p class="login__text">Пожалуйста, заполните эту форму, чтобы войти.</p>

            <div class="login__input__wrapper">
                <input class="login__input__input" type="text" placeholder=" " id="login" name="login" autofocus pattern="^[a-zA-Z\d]{3,20}$" value="{{validation.login.value}}" required>
                <label class="login__input__caption">Логин</label>
                <span class="login__input__bar"></span>

                {{#if validation.login.error}}
                <div class="login__input__error" id="login-validation-box">
                    <i class="fa fa-times-circle login__input__error__fa"></i>
                    <label class="login__input__error-label" id="login-validation-message">{{validation.login.message}}</label>
                </div>
                {{/if}}
            </div>

            <div class="login__input__wrapper">
                <input class="login__input__input" type="password" placeholder=" " id="password" name="password" pattern="^[a-zA-Z]+[a-zA-Z\d@_$]{6,25}$" value="{{validation.password.value}}" required>
                <label class="login__input__caption">Пароль</label>
                <span class="login__input__bar"></span>

                {{#if validation.password.error}}
                <div class="login__input__error" id="password-validation-box">
                    <i class="fa fa-times-circle login__input__error__fa"></i>
                    <label class="login__input__error-label" id="password-validation-message">{{validation.password.message}}</label>
                </div>
                {{/if}}
            </div>

            <button type="submit" class="login__button" id="login-button">Войти</button> 
        </form>
        <div class="login__register-message">
            <p class="login__text">Впервые в Brrrello? <a class="login__register-message__link" href="/register">Создать аккаунт</a></p>
        </div>
    </div>
</div>

{{{Footer}}}
