{{#with card-popup}}
    {{#if visible }}
        <div class="popup-wrapper" id="cardPopUpWrapperId">
            <div class="popup-content popup-content_width">
                <form class="popup-form custom-scroll">
                    <div class="popup-form__header">
                        {{#if edit }}
                            Редактирование "{{card_name}}"
                        {{else}}
                            Создание карточки
                        {{/if}}
                    </div>
                    <div class="horizontal-line"></div>
                    <div class="popup-form__elements-wrapper">
                        <div>
                            <label for="cardPopUpTitleId" class>Название карточки:</label>
                            <input class="simple-form-element" type="text" id="cardPopUpTitleId" name="card-name"
                                   autofocus pattern="^[a-zA-Z\d]{1,40}$" autocomplete="off" required
                                {{#if edit}} value="{{card_name}}" {{/if}}>
                        </div>
                        <div>
                            <label for="cardPopUpDescriptionId" class>Описание карточки:</label>
                            <input class="simple-form-element" type="text" id="cardPopUpDescriptionId"
                                   name="card-description"
                                   autofocus pattern="^[a-zA-Z\d]{1,40}$" autocomplete="off" required
                                {{#if edit}} value="{{description}}" {{/if}}>
                        </div>
                        {{!--                         <div>
                                                    <label for="cardPopUpDeadlineId" class>Дедлайн карточки:</label>
                                                    <input class="simple-form-element" type="text" id="cardPopUpDeadlineId" name="card-deadline"
                                                        autofocus pattern="^[a-zA-Z\d]{1,40}$" autocomplete="off" required
                                                        {{#if edit}} value="{{deadline}}" {{/if}}>
                                                </div> --}}
                        {{#if edit}}
                            <label for="cardPopUpPositionId">Позиция:</label>
                            <select class="simple-form-element" id="cardPopUpPositionId" name="position-select"
                                    required>
                                {{#each positionRange}}
                                    {{#if (IsEqualHelper this ../position) }}
                                        <option value="{{this}}" selected>#{{this}}</option>
                                    {{else}}
                                        <option value="{{this}}">#{{this}}</option>
                                    {{/if}}
                                {{/each}}
                            </select>
                        {{/if}}
                        {{# if checkLists}}
                            <span class="check-list-separator">Чек листы</span>
                        {{/if}}
                        {{# each checkLists}}
                            <div class="check-list" data-id="{{this.chlid}}">
                                <div class="check-list__header-wrapper">
                                    {{#if this.edit}}
                                        <input class="simple-form-element check-list__input" type="text"
                                               pattern="^[a-zA-Z\d]{1,40}$" autocomplete="off" required
                                               value="{{this.title}}">
                                        <div class="material-icon-save checklist-save"></div>
                                    {{else}}
                                        <div class="check-list__title">{{this.title}}</div>
                                        <div class="material-icon-edit checklist-edit"></div>
                                    {{/if}}
                                    <div class="material-icon-add checklist-add"></div>
                                    <div class="material-icon-delete checklist-delete"></div>
                                </div>
                                <div class="check-list__items-wrapper">
                                    {{#each this.check_list_items }}
                                        <div class="checklist-item" data-id="{{this.chliid}}">
                                            <label class="checklist-item__label">
                                                <input type="checkbox" {{#if this.status}}checked{{/if}}>
                                                {{#if this.edit}}
                                                    <input class="simple-form-element checklist-item__input" type="text"
                                                           pattern="^[a-zA-Z\d]{1,40}$" autocomplete="off" required
                                                           value="{{this.text}}">
                                                {{else}}
                                                    <div class="checklist-item__title">{{this.text}}</div>
                                                {{/if}}
                                            </label>
                                            {{#if this.edit}}
                                                <div class="material-icon-save checklist-item-save"></div>
                                            {{else}}
                                                <div class="material-icon-edit checklist-item-edit"></div>
                                            {{/if}}
                                            <div class="material-icon-delete checklist-item-delete"></div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        {{/each}}
                        <button class="button" id="cardPopUpAddCheckListBtnId">Новый чек-лист</button>
                        {{#if errors}}
                            <div class="error">{{errors}}</div>
                        {{/if}}
                        {{# if edit }}
                            <button class="button" id="cardPopUpSaveBtnId">Сохранить</button>
                        {{ else }}
                            <button class="button" id="cardPopUpCreateBtnId">Создать</button>
                        {{/if}}
                    </div>
                </form>
                <div class="close-button" id="cardPopUpCloseId"></div>
            </div>
        </div>
    {{/if}}
{{/with}}
