{{#with card-popup}}
    {{#if visible }}
        <div class="popup-wrapper" id="cardPopUpWrapperId">
            <div class="popup-content popup-content_card">
                <form class="popup-form custom-scroll" id="cardPopUpScrollZoneId">
                    <div class="popup-form__header">
                        {{#if edit }}
                            Карточка "{{card_name}}"
                        {{else}}
                            Создание карточки
                        {{/if}}
                    </div>
                    <div class="horizontal-line"></div>
                    <div class="popup-form__elements-wrapper">
                        {{#if edit }}
                            <div>
                                <label>Теги карточки:</label>
                                <div class="card-popup-tags">
                                    {{#each tags}}
                                        <div class="tags-list__tag_compact tag-colors__{{this.color.color_name}}"><div>{{tag_name}}</div></div>
                                    {{/each}}
                                    <div class="button button_small add" id="addTagCardPopUpId"></div>
                                </div>
                            </div>
                        {{/if}}
                        <div>
                            <label for="cardPopUpTitleId" class>Название карточки:</label>
                            <input class="simple-form-element" type="text" id="cardPopUpTitleId" name="card-name"
                                   autofocus pattern="^[a-zA-Z\d]{1,40}$" autocomplete="off" required
                                {{#if edit}} value="{{card_name}}" {{/if}}>
                        </div>
                        <div>
                            <label for="cardPopUpDescriptionId" class>Описание карточки:</label>
                            <textarea class="simple-form-element" type="text" id="cardPopUpDescriptionId"
                                      name="card-description" autofocus pattern="^[a-zA-Z\d]{1,40}$" rows="4"
                                      autocomplete="off" required>{{#if edit}}{{description}}{{/if}}</textarea>
                        </div>
                        <div>
                            <label for="cardPopUpDeadlineId" class>Дедлайн карточки:</label>
                            <input class="simple-form-element" type="datetime-local" id="cardPopUpDeadlineId"
                                   name="card-deadline"
                                   min="1970-01-01T00:00" max="3000-12-31T23:59"
                                   pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" required
                                {{#if edit}} value="{{deadline}}" {{/if}}>
                        </div>
                        {{#if edit}}
                            <div>
                                <label for="cardPopUpPositionId">Позиция:</label>
                                <select class="simple-form-element" id="cardPopUpPositionId" name="position-select"
                                        required>
                                    {{#each positionRange}}
                                        {{#if (IsEqualHelper this ../position) }}
                                            <option value="{{this}}" selected>#{{this}}</option>
                                        {{else}}
                                            <option value="{{this}}">#{{this}}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                            </div>
                        {{/if}}
                        {{# if checkLists}}
                            <span class="check-list-separator">Чек листы</span>
                        {{/if}}
                        {{# each checkLists}}
                            <div class="check-list" data-id="{{this.chlid}}">
                                <div class="check-list__header-wrapper">
                                    {{#if this.edit}}
                                        <input class="simple-form-element check-list__input" type="text"
                                               pattern="^[a-zA-Z\d]{1,40}$" autocomplete="off" required
                                               value="{{this.title}}">
                                        <div class="material-icon-save checklist-save"></div>
                                    {{else}}
                                        <div class="check-list__title">{{this.title}}</div>
                                        <div class="material-icon-edit checklist-edit"></div>
                                    {{/if}}
                                    <div class="material-icon-add checklist-add"></div>
                                    <div class="material-icon-delete checklist-delete"></div>
                                </div>
                                <div class="check-list__items-wrapper">
                                    {{#each this.check_list_items }}
                                        <div class="checklist-item" data-id="{{this.chliid}}">
                                        <label class="checklist-item__label">
                                            <input type="checkbox" {{#if this.status}}checked{{/if}}>
                                            {{#if this.edit}}
                                            </label>
                                                <input class="simple-form-element checklist-item__input" type="text"
                                                       pattern="^[a-zA-Z\d]{1,40}$" autocomplete="off" required
                                                       value="{{this.text}}">
                                                <div class="material-icon-save checklist-item-save"></div>
                                            {{else}}
                                                <div class="checklist-item__title">{{this.text}}</div>
                                                </label>
                                                <div class="material-icon-edit checklist-item-edit"></div>
                                            {{/if}}
                                            <div class="material-icon-delete checklist-item-delete"></div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        {{/each}}
                        {{#if errors}}
                            <div class="error">{{errors}}</div>
                        {{/if}}
                        {{#if edit }}
                            {{#if attachments}}<span class="check-list-separator">Вложения</span>{{/if}}
                            <div class="attachments">
                                {{#each attachments}}
                                <div class="attachment" data-id="{{this.atid}}">
                                    <div class="attachment__icon material-icon-file"></div>
                                    <div class="attachment__title"><div>{{this.file_pub_name}}</div></div>
                                    <div class="attachment__download-btn material-icon-download"></div>
                                    <div class="attachment__delete-btn material-icon-delete"></div>
                                </div>
                                {{/each}}
                            </div>
                            <label class="button attachment__button">
                                <input type="file" accept="*" id="attachmentInputId"/>
                                <i class="fa fa-cloud-upload"></i><span>Загрузить вложение</span>
                            </label>
                            <button class="button" id="cardPopUpAddAssigneeBtnId">Участники</button>
                            <button class="button" id="cardPopUpAddCheckListBtnId">Новый чек-лист</button>
                            <button class="button" id="cardPopUpSaveBtnId">Сохранить</button>
                        {{else }}
                            <button class="button" id="cardPopUpCreateBtnId">Создать</button>
                        {{/if}}
                        {{#if edit}}
                            <div class="comments-wrapper">
                                <textarea class="simple-form-element" type="text" id="newCommentTextId"
                                          name="comment" autocomplete="off"
                                          placeholder="Добавить комментарий" required></textarea>
                                <button class="button" id="createCommentId">Добавить</button>
                                {{#each comments}}
                                    <div class="comment" data-author="{{this.uid}}">
                                        <img class="comment__avatar" title="{{this.user.userName}}"
                                             src="{{this.user.avatar}}"/>
                                        <div class="comment__content">
                                            {{#if this.edit}}
                                                <input class="simple-form-element commentInput" type="text"
                                                       pattern="^[a-zA-Z\d]{1,40}$" autocomplete="off" required
                                                       value="{{this.text}}">
                                            {{else}}
                                                <div class="comment__text">{{this.text}}</div>
                                                <div class="date sub-text">{{DateFormatHelper this.date}}</div>
                                            {{/if}}
                                        </div>
                                        <div class="comment__btns">
                                            {{#if this.edit}}
                                                <div class="material-icon-save saveComment"
                                                     data-id="{{this.cmid}}"></div>
                                            {{/if}}
                                            {{#if (IsAuthorHelper this.uid)}}
                                                <div class="material-icon-edit material-icon-edit editComment"
                                                     data-id="{{this.cmid}}"></div>
                                                <div class="material-icon-delete material-icon-delete deleteComment"
                                                     data-id="{{this.cmid}}"></div>
                                            {{/if}}
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}
                    </div>

                </form>
                <div class="close-button" id="cardPopUpCloseId"></div>
            </div>
        </div>
    {{/if}}
{{/with}}
